$font-path: '/assets/fonts/' !default;

@font-face {
  font-family: 'Muli';
  src: url('#{$font-path}Muli.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('#{$font-path}Muli-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Muli';
  src: url('#{$font-path}Muli.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('#{$font-path}Muli-Italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
