@charset 'UTF-8';

$totalColumns : 12 !default;
$columnWidth  : 60px !default;
$gutter       : 20px !default;
$gridWidth    : $totalColumns * ($columnWidth + $gutter) !default;
$flex-gutter  : percentage($gutter/$gridWidth);

@mixin column($col, $gap, $first: false) {
  width: percentage((($columnWidth * $col) + ($gutter * $gap)) / $gridWidth);
  margin-left: if($first, 0, $flex-gutter);
}
