@charset 'UTF-8';

/// @group    Variáveis

$base-font-size: 16px;
$website-max-width: 960px;

// Mapa de breakpoints
$breakpoints: (
  xsmall    : 320px,
  small     : 480px,
  medium    : 768px,
  large     : 1024px,
  xlarge    : 1280px
) !default;

$font-sizes: (
  big: 20px,
  medium: 16px,
  small: 12px,
) !default;
